@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
// main {
//   flex: 1;
// }
body {
  margin: 0;
  min-height: 100%;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);

  color: #fffafa;
}
//***Not very good. need a change in color from the body background.looks like a damn pizza menu***////
header {
  color: #e0ffff;
}
header div {
  list-style-type: none;
  margin-bottom: 10px;
}
.headerWelcome {
  display: flex;
  justify-content: space-between;
}
header nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 65rem;
}
.header {
  margin-top: 10px;
  font-size: 15px;
  // margin-left: -30px;
  display: flex;
  justify-content: space-between;
}
hr {
  margin-bottom: 2rem;
}

.title {
  color: black;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: white;
  font-family: 'Impact', fantasy;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  // margin-right: 1.5rem;
}
.title1 {
  color: black;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: white;
  font-family: 'Impact', fantasy;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.searchbutton input {
  outline: 3px solid #afeeee;
}
article h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.buttonlabel {
  display: none;
}

.label {
  display: none;
}
.dropdown {
  margin-left: 15px;
}
section ul {
  list-style-type: none;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin-left: 26rem;
  word-wrap: break-word;
  font-size: 12px;
}

section ul li {
  // border-bottom: 2px dotted #483d8b;
  margin-top: 12px;
  // margin-right: -10rem;
}
section li {
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
  }
}
header nav {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: white;
  }
}
section li {
  width: 260px;
  height: 100px;
  border: 0.5px solid blue;
  padding-left: 20px;
}
section h4 {
  margin-bottom: -2px;
}
//****** Need to figure out why this hover isnt working *******//

// section h4:hover {
//   color: red;
// }
@media screen and (min-width: 650px) {
  .eventFormDivv {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
  }
  section li {
    width: 300px;
    height: 100px;
  }
  section ul {
    font-size: 14px;
  }
  .title {
    font-size: 3.5rem;
    margin-top: 2px;
  }

  .label {
    display: flex;
    margin-top: -20px;
    margin-bottom: 5px;
  }
  .buttonlabel {
    display: flex;
    margin-top: -20px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .searchbutton input {
    width: 170px;
    height: 18px;
  }
  .dropdown {
    height: 20px;
  }
  .eventForm textarea {
    width: 25.25rem;
  }
  .eventForm input {
    width: 25rem;
  }
  .eventForm {
    margin-right: 30px;
  }
  .title1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 760px) {
  header li {
    font-size: 14px;
  }
  .eventForm textarea {
    width: 30.25rem;
  }
  .eventForm input {
    width: 30rem;
  }
  .eventForm {
    margin-right: 10rem;
  }
}
@media screen and (min-width: 1000px) {
  .title {
    font-size: 4rem;
  }
  .eventForm textarea {
    width: 32.25rem;
  }
  .eventForm input {
    width: 32rem;
  }
  .title1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1250px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1300px) {
  header li {
    font-size: 15px;
  }
}
.eventForm::placeholder {
  font-size: 30px;
}
.eventFormDiv {
  display: flex;
  justify-content: center;
  // margin: 3rem 2rem;
}
.eventFormDivv {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

.eventForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.eventSignOn {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
hr {
  color: blue;
}
.eventOne {
  display: flex;
  flex-direction: column;
}
.oneEvent {
  display: flex;
  justify-content: center;
}
.addReview {
  margin-top: 50px;
}
.addReview {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: white;
  }
}
.labelTitle {
  color: #888888;
  text-shadow: 2px 0 #888888;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: underline blue;
}
.eventTitle {
  font-size: 2.5rem;
  color: #afeeee;
  text-shadow: 3px 0 blue;
}
.form-input input[type='text'],
// .form-input input[type='email'],
// .form-input input[type='password'],
// .form-input input[type='file'],
.form-input textarea {
  font-family: 'Inika', serif;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}
li:hover {
  background-color: #900c3f;
  color: white;
}
li:hover:before {
  color: white;
}
