@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}
// main {
//   flex: 1;
// }
body {
  margin: 0;
  min-height: 100%;
  background-color: #2234ae;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);

  color: #fffafa;
}
//***Not very good. need a change in color from the body background.looks like a damn pizza menu***////
// header {
//   color: #e0ffff;
//   font-size: 10px;
// }
header div {
  list-style-type: none;
  margin-bottom: 8px;
}
.headerWelcome {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding-bottom: 5px;
}
.signUp {
  margin-left: 5px;
}
header nav {
  display: flex;
  // justify-content: flex-end;
  margin-left: 8rem;
}
.headerEvent {
  margin-left: 6px;
}
.headerHome {
  margin-right: 8px;
}
.home {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: white;
  }
}

.header {
  margin-top: 10px;
  font-size: 15px;
  // margin-left: -30px;
  display: flex;
  justify-content: space-between;
}
.logout {
  margin-left: 4px;
}
.title {
  color: black;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: white;
  font-family: 'Impact', fantasy;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  // margin-right: 1.5rem;
}
.title1 {
  color: black;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: white;
  font-family: 'Impact', fantasy;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.searchbutton input {
  outline: 3px solid #afeeee;
}
article h3 {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
.buttonlabel {
  display: none;
}

.label {
  display: none;
}
.dropdown {
  margin-left: 15px;
}
section ul {
  list-style-type: none;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // margin-left: 26rem;
  word-wrap: break-word;
  font-size: 12px;
}

section ul li {
  // border-bottom: 2px dotted #483d8b;
  margin-top: 12px;
  // margin-right: -10rem;
}
section li {
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: white;
  }
}
.header {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: white;
  }
}
section li {
  width: 260px;
  height: 100px;
  border: 0.5px solid blue;
  padding-left: 20px;
}
section h4 {
  margin-bottom: -2px;
}

.eventForm::placeholder {
  font-size: 30px;
}
.eventFormDiv {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.eventFormDivv {
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  list-style-type: none;
}
ul {
  list-style-type: none;
}
.eventForm {
  display: flex;
  flex-direction: column;
  width: 20rem;
}
.eventSignOn {
  display: flex;
  flex-direction: column;
  width: 15rem;
}
hr {
  color: blue;
  margin-top: -10px;
}
.oneEvent {
  display: flex;
  justify-content: center;
  // border: thick solid white;
  background-color: #f0ffff;
  margin: 0.5rem 2rem;
  margin-top: 2rem;
  box-shadow: 4px 3px 5px 6px #ccc;
  padding: 5px;
  padding-bottom: 15px;
}
.eventOne {
  display: flex;
  flex-direction: column;
  color: black;
}
.addReview {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.addReview {
  a:link,
  a:visited,
  a:focus,
  a:hover,
  a:active {
    color: #f0fff0;
  }
}
.reviewsForm {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  word-wrap: break-word;
  font-size: 8px;
  // padding-right: 6px;
}
.reviews {
  margin-right: 20px;
}
.labelTitle {
  color: #888888;
  text-shadow: 2px 0 c;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: underline blue;
}
.wroteBy {
  padding-bottom: 10px;
}
.reviewsTitle {
  font-size: 13px;
  text-decoration: underline red;
}
.reviewsLabel {
  font-size: 10px;
  text-decoration: underline blue;
  margin-top: 10px;
}
.answers {
  margin-top: 5px;
  margin-bottom: 5px;
  color: #e0ffff;
}
.eventFormR {
  display: flex;
  flex-direction: column;
  width: 10rem;
  padding-left: 3px;
}
.eventTitle {
  font-size: 2rem;
  color: #808080;
  text-shadow: 3px 0 blue;
}
.listOfEvents:hover {
  background-color: #900c3f;
  color: white;
}
li:hover:before {
  color: white;
}
//MEDIA FROM NOW ON//
@media screen and (min-width: 450px) {
  .logout {
    margin-left: 4px;
  }
  .headerHome {
    margin-right: 8px;
  }
  .headerEvent {
    margin-left: 7px;
  }
  header nav {
    margin-left: 13.5rem;
  }
  .eventFormR {
    width: 13rem;
    font-size: 12px;
  }
  .reviewsLabel {
    font-size: 12px;
  }
  .reviewsTitle {
    font-size: 16px;
  }
  .answers {
    font-size: 9px;
  }
}
@media screen and (min-width: 550px) {
  header nav {
    margin-left: 20rem;
  }
  .oneEvent {
    margin: 0.5rem 5rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 15rem;
  }
  .reviewsLabel {
    font-size: 13px;
  }
  .reviewsTitle {
    font-size: 18px;
  }
  .answers {
    font-size: 9px;
  }
}
address {
  padding-top: 10px;
}
@media screen and (min-width: 650px) {
  .eventFormDivv {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
  }
  section li {
    width: 300px;
    height: 100px;
  }
  section ul {
    font-size: 14px;
  }
  .title {
    font-size: 3.5rem;
    margin-top: 2px;
  }

  .label {
    display: flex;
    margin-top: -20px;
    margin-bottom: 5px;
  }
  .buttonlabel {
    display: flex;
    margin-top: -20px;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  .searchbutton input {
    width: 170px;
    height: 18px;
  }
  .dropdown {
    height: 20px;
  }
  .eventForm textarea {
    width: 25.25rem;
  }
  .eventForm input {
    width: 25rem;
  }
  .eventForm {
    margin-right: 30px;
  }
  .title1 {
    font-size: 3.5rem;
  }
  header nav {
    margin-left: 26rem;
  }
  .oneEvent {
    margin: 0.5rem 7rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 18rem;
  }
  .reviewsLabel {
    font-size: 15px;
  }
  .reviewsTitle {
    font-size: 18px;
  }
  .answers {
    font-size: 10px;
  }
  .wroteBy {
    font-size: 11px;
  }
}
@media screen and (min-width: 760px) {
  .headerWelcome {
    font-size: 13px;
  }
  .eventForm textarea {
    width: 30.25rem;
  }
  .eventForm input {
    width: 30rem;
  }
  .eventForm {
    margin-right: 10rem;
  }
  header nav {
    margin-left: 29rem;
  }
  .oneEvent {
    margin: 0.5rem 9rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 22rem;
  }
  .reviewsLabel {
    font-size: 16px;
  }
  .reviewsTitle {
    font-size: 20px;
  }
  .answers {
    font-size: 11px;
  }
}
@media screen and (min-width: 900px) {
  header nav {
    margin-left: 38rem;
  }
  .oneEvent {
    margin: 0.5rem 11rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 27rem;
  }
  .reviewsLabel {
    font-size: 17px;
  }
  .reviewsTitle {
    font-size: 22px;
  }
  .answers {
    font-size: 12px;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 4rem;
  }
  .eventForm textarea {
    width: 32.25rem;
  }
  .eventForm input {
    width: 32rem;
  }
  .title1 {
    font-size: 4rem;
  }
  header nav {
    margin-left: 44rem;
  }
  .oneEvent {
    margin: 0.5rem 13rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 31rem;
  }
  .reviewsLabel {
    font-size: 18px;
  }
  .reviewsTitle {
    font-size: 24px;
  }
  .answers {
    font-size: 13px;
  }
}
@media screen and (min-width: 1140px) {
  header nav {
    margin-left: 53rem;
  }
  .oneEvent {
    margin: 0.5rem 15rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 34rem;
    padding-right: 3px;
  }
  .reviewsLabel {
    font-size: 19px;
  }
  .reviewsTitle {
    font-size: 25px;
  }
  .answers {
    font-size: 13px;
  }
}
@media screen and (min-width: 1250px) {
  .title {
    font-size: 4rem;
  }
  header nav {
    margin-left: 60rem;
  }
  .oneEvent {
    margin: 0.5rem 17rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 38rem;
    padding-right: 5px;
  }
  .reviewsLabel {
    font-size: 19px;
  }
  .reviewsTitle {
    font-size: 25px;
  }
  .answers {
    font-size: 13px;
  }
}

@media screen and (min-width: 1300px) {
  header li {
    font-size: 15px;
  }
  header nav {
    margin-left: 62rem;
  }
  .oneEvent {
    margin: 0.5rem 19rem;
    margin-top: 2rem;
  }
  .eventFormR {
    width: 40rem;
    padding-right: 7px;
  }
  .reviewsLabel {
    font-size: 19px;
  }
  .reviewsTitle {
    font-size: 25px;
  }
  .answers {
    font-size: 13px;
  }
}
@media screen and (min-width: 1400px) {
  header nav {
    margin-left: 68rem;
  }
  .oneEvent {
    margin: 0.5rem 21rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1400px) {
  header nav {
    margin-left: 75rem;
  }
}
